@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500&display=swap');
:root {
  --cor-cinza-claro: #f3f3f3;
  --cor-cinza-padrao: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

/* ==== Main CSS === */
.img-fill {
  display: block;
  overflow: hidden;
  position: relative;
}

.img-fill img {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  max-width: none;
}

.slick-slide {
  float: left /* If RTL Make This Right */;
  padding: 0;
}

.Modern-Slider .button-page {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 150px;
  justify-content: space-evenly;
}
.Modern-Slider .button-page button {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 1.3;
  width: 320px;
  height: 60px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.3s;

  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.Modern-Slider .button-page button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}
.Modern-Slider .item .img-fill .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  color: white;
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
  margin-top: -30px;
}

.Modern-Slider .item .info .text {
  display: inline-block !important;
  width: 100%;
}

.Modern-Slider .item .info .text p {
  margin-bottom: 0 !important;
}

@media screen and (max-width:650px) {
  .Modern-Slider .button-page {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .Modern-Slider .button-page button {
    margin-bottom: 50px;
    margin-left: -25px;
  }
}