@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

/* ==== Main CSS === */
.img-fill {
  display: block;
  overflow: hidden;
  position: relative;
}

.img-fill img {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  max-width: none;
}

.slick-slide {
  float: left /* If RTL Make This Right */;
  padding: 0;
}

.Modern-Slider .button-page {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 150px;
  justify-content: space-evenly;
}
.Modern-Slider .button-page button {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.3;
  width: 360px;
  height: 70px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.Modern-Slider .item .img-fill .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  color: white;
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
  margin-top: -30px;
}

.Modern-Slider .item .info .text {
  display: inline-block !important;
  width: 100%;
}

.Modern-Slider .item .info .text p {
  margin-bottom: 0 !important;
}
