@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;400;500;600;700;800;900&display=swap&Josefin+Sans:wght@500&family=Roboto+Condensed&display=swap');

:root {
  --font-padrao: 'Fira Sans Extra Condensed', sans-serif;
  --padding-padrao: 20px 0;
  --rmargin-padrao: 2rem;
  --lmargin-padrao: 3rem;
  --cor-verde: #3d604c;
  --cor-salmao: #ff6161;
  --cor-laranja: #ff8c1a;
  --cor-laranjao: #ff5a19;
  --cor-rosinha: #ffb9b6;
  --cor-marrom: #522319;
  --cor-azul: #0566c6;
  --cor-cinza-menu: #5d5d5d;
  --cor-cinza-claro: #f3f3f3;
  --cor-cinza-padrao: #e6e6e6;
  --cor-cinza: #ccc;
  --cor-cinza-escuro: #3b3b3b;
}
*:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: var(--font-padrao);
  width: 100%;
  height: 100%;

  background-color: #fff;
}
h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  line-height: 1.3rem;
  -webkit-margin-after: 1em;
}
/*  HEADER   */
.banner-header {
  display: flex;
  background-color: #000;
  color: white;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}
.subtitle {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.banner-header img {
  height: 20px;
  margin-right: 10px;
}
.banner-header p {
  margin-bottom: 0;
}
.social-media {
  margin-right: 50px;
}
.social-media .fab {
  margin-left: 10px;
  color: white !important;
}
.container .logo-menu {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}
.header {
  display: flex !important;
  justify-content: space-between !important;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
}
.container .logo-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 250px;
}

.container .logo-menu a img {
  max-width: 100%;
  max-height: 70px;
  margin-left: 40px;
}

.container .navbar {
  padding: 0 10px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}

.container .navbar ul li a {
  font-family: var(--font-padrao);
  text-decoration: none;
  color: var(--cor-cinza-menu);
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
}

.container .navbar ul li a.ativo {
  color: #000;
  font-weight: 700;
}

.container .navbar ul li a:hover {
  color: #000;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}
.search-container {
  display: flex;
  align-items: center;
}
.search-container input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  outline: none;
  position: absolute;
  top: 70px;
}
.search-container button {
  background-color: transparent;
  border-style: none;
  position: relative;
  left: 175px;
  bottom: 10px;
}

.conteudo {
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*  MENU DROPDOWN   */
.container .navbar .dropdown {
  overflow: hidden;
  float: left;
}
.container .navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.container .navbar .dropdown .dropdown-content li a {
  height: 30px;
  line-height: 40px;
  font-weight: 400;
  padding-bottom: 2px;
  border-bottom: 1px solid #f0f0f0;
}
.container .navbar .dropdown:hover .dropdown-content {
  display: block;
}

/* bloco: banner-title */
.mainBanner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--cor-cinza-claro);
  margin-bottom: 40px;
}
.mainInfo > .title {
  display: flex;
  align-items: baseline;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}
.mainInfo > .creditos {
  padding-bottom: 0;
}
.title > svg {
  width: 50px;
  margin-right: 10px;
}
.mainInfo {
  width: 600px;
  max-width: 100%;
  padding: var(--lmargin-padrao);
}
.mainIllus > img {
  max-width: 550px;
  max-height: 550px;
  margin: 10px 40px 0 0;
}

a.btn {
  width: 200px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  border: 1px solid #000;

  border-radius: 5px;
  transition: 0.3s;
}
a.btn:hover {
  color: #000;
  background-color: var(--cor-cinza-padrao);
  border-color: var(--cor-cinza-padrao);
}
.flex-end {
  align-items: flex-end;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--padding-padrao);
}

.containerColumn {
  flex-direction: column;
  align-items: center;
}

div.postBox {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;

  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

div.postInfo {
  width: 100%;
  margin-right: var(--rmargin-padrao);
}
.postInfo > h1 {
  font-size: 20px;
}
.postInfo > h2 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.postInfo > h3 {
  font-size: 14px;
  font-weight: 500;
  color: var(--cor-cinza-escuro);
}
.postInfo > p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: none;
}

div.postImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* bloco: filmes */
.postBox > div.filmeImg {
  width: 600px;
  align-self: stretch;
  border-radius: 5px;
  margin-right: var(--rmargin-padrao);
}

div.btn-filmes {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 50px;
}
.collapsible,
.content {
  width: 500px;
  border-radius: 5px;
}
.collapsible {
  font-family: var(--font-padrao);
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--cor-cinza-padrao);
  border: 1px solid var(--cor-cinza-padrao);
  padding: 5px 10px;
  margin-right: 15px;

  transition: 0.3s;
}
.active,
.collapsible:hover {
  background-color: var(--cor-cinza);
}
.content {
  display: none;
  overflow: hidden;
  background-color: var(--cor-cinza-padrao);
  margin-top: 5px;
}
.content > ul li {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 10px;
  line-height: 1.3rem;
  text-transform: none;
  list-style-type: none;
}
.content > ul li:last-child {
  margin-top: 5px;
  font-weight: 400;
}
i.fas {
  font-size: 20px;
}
i.fa-chevron-down {
  color: #000;
}
i.fa-external-link-alt {
  color: #fff;
}

/* bloco: oficinas */
.minInfoImg {
  width: 120px;
  height: 120px;
  margin-bottom: -50px;
  position: relative;
  border-radius: 50%;
  border: 5px solid var(--cor-salmao);
  backdrop-filter: blur(2px);
}
div.minCurr {
  width: 400px;
  background-color: var(--cor-salmao);
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  border-radius: 5px;
}

div.minInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.minCurr > p {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
}
.minCurr > p:first-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}
.postInfo > p:last-child {
  font-weight: 300;
}

/* bloco: debates */
div.debateContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: var(--padding-padrao);
}

.debateBox {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  border-radius: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

div.debateTitle {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--cor-laranjao);
  color: #fff;
}
div.debateTitle > h1 {
  font-size: 18px;
  padding: 1rem 1rem 0.1rem 1rem;
}
div.debateTitle > h2 {
  padding: 0 1rem 1rem 1rem;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

div.debateInfo {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.debateInfo ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0.5rem;
}

.debateInfo ul li .debate-btn {
  width: 100%;
}

.debateInfo > ul li .debateImg {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

  border-radius: 50%;
  margin: 1rem;
}
.debateInfo > span {
  font-size: 16px;
  font-weight: 400;
}

/* bloco: download */

.dowloadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 10em;
}

.pdfCover {
  width: 270px;
  height: 350px;
  background-color: var(--cor-laranja);
  border-radius: 5px;
  margin: 20px;
}
.dowloadContainer > p {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/*bloco: creditos*/

.teamContainer {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.teamContainer > .teamSing {
  width: 200px;
  padding: 0 2em 3em 2em;
}
.teamSing > h1 {
  font-size: 1.2em;
}
.teamSing > h2 {
  font-size: 0.8em;
  font-weight: 500;
}

/* página > início*/
img.inicio {
  width: 550px;
  margin-right: var(--rmargin-padrao);
}
div.paragrafo-inicio {
  width: 700px;
}
div.btn-inicio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
/* FOOTER  */
#footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: #000;
  position: fixed;
  bottom: 0;
}
#footer .logo-footer {
  margin: 0 50px;
}

#footer .logo-footer img {
  width: 125px;
  height: auto;
}

#footer .nav-footer-left,
#footer .nav-footer-dir {
  padding: 0 50px;
  border-right: 1px solid var(--cor-cinza-menu);
}

#footer .nav-footer-left ul,
#footer .nav-footer-dir ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer .nav-footer-left ul li a,
#footer .nav-footer-dir ul li a {
  font-family: var(--font-padrao);
  text-decoration: none;
  color: var(--cor-cinza-menu);
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  line-height: 35px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
}
#footer .text-footer {
  height: 75%;
  display: flex;
  align-items: center;
  font-family: var(--font-padrao);
  color: #fff;
  border-right: 1px solid var(--cor-cinza-menu);
}
#footer .text-footer p {
  padding: 0 80px;
}
#footer .social-media {
  display: flex;
  margin: 0 50px;
}
#footer .social-media .fab {
  font-size: 30px;
}
