@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;400;500;600;700;800;900&display=swap&Josefin+Sans:wght@500&family=Roboto+Condensed&display=swap');

:root {
  --font-padrao: 'Fira Sans Extra Condensed', sans-serif;
  --padding-padrao: 20px 0;
  --rmargin-padrao: 30px;
  --cor-verde: #3d604c;
  --cor-cinza-menu: #5D5D5D;
  --cor-cinza-padrao: #e6e6e6;
  --cor-cinza: #ccc;
  --cor-cinza-escuro: #3b3b3b;
}
*:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-padrao);
  width: 100%;
  height: 100%;
  background-color: #fff;
}
h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  line-height: 1.3rem;
  -webkit-margin-after: 1em;
}
.banner-header {
  display: flex;
  background-color: #000;
  color: white;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}
.banner-header p {
  margin-bottom: 0;
  margin-left: 50px;
}
.social-media {
  margin-right: 50px;
}
.social-media .fab {
  margin-left: 10px;
  color: white !important;
}
.container .logo-menu {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}
.header {
  display: flex !important;
  justify-content: space-between !important;
}
.container .logo-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 250px;
}

.container .logo-menu a img {
  max-width: 100%;
  max-height: 70px;
  margin-left: 40px;
}

.container .navbar {
  padding: 0 10px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}

.container .navbar ul li a {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: var(--cor-cinza-menu);
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
}

.container .navbar ul li a.ativo {
  color: #000;
  font-weight: 700;
}

.container .navbar ul li a:hover {
  color: #000;
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}
.search-container {
  display: flex;
  align-items: center;
}
.search-container input {
  border:none;
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  outline: none;
  position: absolute;
  top: 70px;
}
.search-container button {
  background-color: transparent;
  border-style: none;
  position: relative;
  left: 175px;
  bottom: 10px;
}

a.btn {
  width: 200px;
  padding: 5px 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  border: 1px solid #000;

  border-radius: 5px;
  transition: 0.3s;
}
a.btn:hover {
  background-color: #fff;
  color: #000;
}
.flex-end {
  align-items: flex-end;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--padding-padrao);
}

/* bloco: filmes */
div.filmeBox {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;

  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
div.filmeImg {
  width: 350px;
  height: 100%;
  border-radius: 5px;
  margin-right: var(--rmargin-padrao);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.filmeInfo {
  width: 100%;
}
.filmeInfo > h1 {
  font-size: 20px;
}
.filmeInfo > h2 {
  font-size: 16px;
}
.filmeInfo > h3 {
  font-size: 14px;
  font-weight: 500;
  color: var(--cor-cinza-escuro);
}
.filmeInfo > p {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

div.btn-filmes {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 50px;
}
.collapsible,
.content {
  width: 500px;
  border-radius: 5px;
}
.collapsible {
  font-family: var(--font-padrao);
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--cor-cinza-padrao);
  border: 1px solid var(--cor-cinza-padrao);
  padding: 5px 10px;
  margin-right: 15px;

  transition: 0.3s;
}
.active,
.collapsible:hover {
  background-color: var(--cor-cinza);
}
.content {
  display: none;
  overflow: hidden;
  background-color: var(--cor-cinza-padrao);
  margin-top: 5px;
}
.content > ul li {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 10px;
  line-height: 1.3rem;
  text-transform: none;
  list-style-type: none;
}
.content > ul li:last-child {
  margin-top: 5px;
  font-weight: 400;
}
i.fas {
  font-size: 20px;
}
i.fa-chevron-down {
  color: #000;
}
i.fa-external-link-alt {
  color: #fff;
}

/* página > início*/
img.inicio {
  width: 650px;
  margin-right: var(--rmargin-padrao);
}
div.paragrafo-inicio {
  width: 700px;
}
div.btn-inicio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

/* ==== Main CSS === */
.img-fill{
  display: block;
  overflow: hidden;
  position: relative;
}

.img-fill img {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  max-width: none;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

.Modern-Slider .button-page {
position: absolute;
display: flex;
width: 100%;
height: 100%;
top: 150px;
justify-content: space-evenly;
}
.Modern-Slider .button-page button {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: transparent;
  border-style: none;
  line-height: 1.3;
  width: 350px;
  height: 70px;
  cursor: pointer;
}
.Modern-Slider .item .img-fill .info{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  color:white;
  display: flex;
  align-items: flex-end;
  margin-left: 15px;
  margin-top: -30px;
}

.Modern-Slider .item .info .text{
  display:inline-block !important;
  width: 100%;
}

.Modern-Slider .item .info .text p {
  margin-bottom: 0 !important;
}
