@media screen and (max-width: 650px) {
  .conteudo {
    display: inline-block;
    cursor: pointer;
  }
  .mainBanner {
    justify-content: center !important;
  }
  .mainIllus,
  .dowloadContainer {
    margin: 0 0 1em 0;
  }
  .mainIllus > img {
    max-width: 100%;
    margin: 0;
  }
  .mainInfo {
    padding: 20px;
  }
  .mainInfo > .title {
    font-size: 20px;
  }
  .title > svg {
    display: none;
  }
  .title > svg.notHidden {
    display: flex;
  }
  .container,
  .collapsible,
  .content,
  a.btn,
  .postInfo .info,
  .teamContainer > .teamSing {
    width: 100%;
  }
  .container {
    justify-content: center;
    margin: 1em auto;
  }
  div.postBox {
    flex-direction: column;
    padding: 0.6em;
  }
  div.filmeImg {
    height: 200px;
    margin-bottom: 0.6em;
  }
  div.filmeImg,
  div.postInfo {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .postInfo > h2 {
    margin-bottom: 0;
  }
  .postInfo .info {
    margin-bottom: 0.6em;
  }
  div.btn-filmes {
    flex-direction: column;
  }
  a.btn {
    padding: 5px 0;
  }
  div.minCurr {
    width: 86%;
  }
  .debateBox {
    margin: 1em;
  }
  .debateInfo > ul li .debateImg {
    margin-right: 0.5em;
  }
  /* FOOTER   */
  #footer .col {
    width: 50%;
  }
  #footer .col ul li a {
    font-size: 13px;
  }
}
