@media screen and (max-width: 650px) {
  .conteudo {
    display: inline-block;
    cursor: pointer;
  }
  .mainBanner {
    justify-content: center !important;
  }
  .mainIllus,
  .dowloadContainer {
    margin: 0 0 1em 0;
  }
  .mainIllus > img {
    max-width: 100%;
    margin: 0;
  }
  .mainInfo {
    padding: 20px;
  }
  .mainInfo > .title {
    font-size: 20px;
  }
  .title > svg {
    display: none;
  }
  .title > svg.notHidden {
    display: flex;
  }
  .container,
  .container-inicio,
  div.btn-inicio,
  .collapsible,
  .content,
  a.btn,
  .postInfo .info,
  .teamContainer > .teamSing {
    width: 100%;
  }
  img.inicio,
  div.paragrafo-inicio {
    width: 92.5%;
  }
  .container,
  .container-inicio {
    justify-content: center;
    margin: 1em auto;
  }
  img.inicio {
    margin: 20px 0;
  }

  div.postBox {
    flex-direction: column;
    padding: 0.6em;
  }
  div.filmeImg {
    height: 200px;
    margin-bottom: 0.6em;
  }
  div.filmeImg,
  div.postInfo {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .postInfo > h2 {
    margin-bottom: 0;
  }
  .postInfo .info,
  div.btn-inicio .btn {
    margin-bottom: 0.6em;
  }
  div.btn-filmes,
  .container-inicio,
  div.btn-inicio {
    flex-direction: column;
  }
  div.btn-inicio .btn {
    margin: 0.2em 0;
  }
  a.btn {
    padding: 5px 0;
  }
  div.minCurr {
    width: 86%;
  }
  .debateBox {
    margin: 1em;
  }
  .debateInfo > ul li .debateImg {
    margin-right: 0.5em;
  }
  .footer-distributed {
    flex-direction: column;
    padding: 60px 30px;
  }
  .footer-distributed .footer-left img {
    margin-bottom: 50px;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    border-right: none;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  .footer-distributed .footer-center {
    margin: 30px 0;
  }
  .footer-distributed .footer-left {
    flex-direction: column;
    width: 100% !important;
  }
  .footer-distributed .footer-left ul li a, 
  .footer-distributed .footer-center ul li a {
    line-height: 2em;
  }
}
@media (max-height: 800px) {
  footer {
    position: static;
  }
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media screen and (max-width: 1440px) {
  .mainInfo {
    width: 650px;
  }
  .footer-distributed .footer-left {
    width: 40%;
  }
}

@media screen and (min-width: 2560px) {
  .footer-distributed .footer-left {
    width: 26%;
  }
}
